<div class="login-container">
  <img class="login-logo" src="/images/logo.jpg"/>
  <h1>Log in here</h1>
  <form class="form-group" action="/login" method="post">
    <div class="login-input">
      <div>Username:</div><input type="text" name="username"/>
    </div>
    <div class="login-input">
      <div>Password: </div><input type="password" name="password"/>
    </div>
    <button type="submit">Click here to log in</button>
  </form>
  <p>
    Don't have an account? <a href="/signup">Sign up here</a>
  </p>
</div>
