body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-login {
  padding: 30px;
  width: 200px;
  height: auto;
}
